// Cloudflare 风格配色 - 下划线灰色
$color-background = #0d0d0d
$color-footer-mobile-1 = lighten($color-background, 2%)
$color-footer-mobile-2 = lighten($color-background, 10%)
$color-background-code = lighten($color-background, 4%)
$color-border = #555
$color-scrollbar = #555
$color-meta = #888
$color-meta-code = #999
$color-link = rgba(246, 130, 31, 1)
$color-text = #e6e6e6
$color-accent-3 = #666
$color-accent-2 = #f5a623
$color-accent-1 = #f6821f
$color-quote = #f6821f
$highlight = hexo-config("highlight") || "rainbow"
